<?xml version="1.0" encoding="UTF-8"?>
<web-app
	metadata-complete="true"
	version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name>JNavigator Pilot</display-name>
	<description>Web based autopilot for JNavigator</description>

	<servlet>
		<servlet-name>jnavigator-pilot</servlet-name>
		<servlet-class>at.uni_salzburg.cs.ckgroup.pilot.PilotServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jnavigator-pilot</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>user-resource</web-resource-name>
			<description>pages which require login</description>
			<url-pattern>/admin/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<!--
		<auth-constraint>
			<description>Must authenticate before querying the system</description>
			<role-name>jnavigator-admin</role-name>
		</auth-constraint>
		-->
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>JNavigator Pilot Authentication Realm</realm-name>
	</login-config>

	<security-role>
		<description>Any user of the system</description>
		<role-name>jnavigator-admin</role-name>
	</security-role>
</web-app>
