<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Current Course</a></h2>
		<div style="font-size: 90%; line-height: 130%">
#set( $n = $servletConfig.getServletContext().getAttribute("aviator").getCurrentVclCommandLine() )
#set( $err = $servletConfig.getServletContext().getAttribute("aviator").getScriptErrors() )
#set( $scr = $servletConfig.getServletContext().getAttribute("aviator").getScript() )
#set( $x = 0 )
#foreach( $line in $scr )
#set( $col = "" )
#if( $line.matches(" *#.*") )
#set( $style = "font-style: italic;" )
#set( $col = "color: #CCCCC4;" )
#else
#set( $style = "" )
#end
#if( $err.get($x) )
#set( $col = "color: red;" )
#end
#set( $x = $x +1 )
#if( $n == $x)
#set( $fw = "font-weight: bold;" )
#else
#set( $fw = "font-weight: normal;" )
#end
<span style="$fw$col$style">$line</span><br/>
#end
		</div>
	</div>
</div>
<!-- end #content -->