<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Current Course</a></h2>
<!--
<pre style="font-size: 90%; line-height: 120%">
-->
<div style="font-size: 90%; line-height: 120%">
#set( $n = $servletConfig.getServletContext().getAttribute("aviator").getCurrentVclCommandLine() )
#set( $err = $servletConfig.getServletContext().getAttribute("aviator").getScriptErrors() )
#set( $scr = $servletConfig.getServletContext().getAttribute("aviator").getScript() )
#set( $x = 0 )
#foreach( $line in $scr )
#if( $err.get($x) )
#set( $bg = "color: red;" )
#else
#set( $bg = "" )
#end
#set( $x = $x +1 )
#if( $n == $x)
#set( $fw = "font-weight: bold;" )
#else
#set( $fw = "font-weight: normal;" )
#end
<span style="$fw$bg">$line</span><br/>
#end

</div>
<!--
</pre>
-->
	</div>
</div>
<!-- end #content -->