##
## @(#) MockJAviator.properties - the old configuration 
##

controllerPeriod = 0.014
mockJAviatorReportRate = 0
simulate.gps = true
simulate.ubisense = false

mock-javiator.send.javiator-data = false
mock-javiator.send.sensor-data = true
mock-javiator.send.simulation-data = true

plant.className = javiator.simulation.JAviatorPlant
plant.report.rate = 0
plant.effective_x_length = 0.0320
plant.effective_y_length = 0.0320
plant.effective_z_length = 0.906
plant.noise_flag = false
plant.noise_factor = 1000.0
plant.z_correction_flag = false
plant.z_offset = 0.09
plant.sonar_position = 0.13
plant.controllerPeriod = 0.014
plant.gravity = 1360.0
plant.gravitationalAcceleration = 9.81
plant.mass = 1.720
    	
connector.className = at.uni_salzburg.cs.ckgroup.communication.UdpServer
connector.server.port = $configuration.getPlantListener().getPort()
connector.server.timeout = 10000

connector.mapping.list = sensor-data, motor-signals, switch-state, shutdown, simulation
	
connector.mapping.sensor-data.type = 4
connector.mapping.sensor-data.className = at.uni_salzburg.cs.ckgroup.communication.data.SensorData
connector.mapping.sensor-data.register = true

connector.mapping.motor-signals.type = 5
connector.mapping.motor-signals.className = at.uni_salzburg.cs.ckgroup.communication.data.MotorSignals
connector.mapping.motor-signals.register = true

connector.mapping.switch-state.type = 17
connector.mapping.switch-state.className = at.uni_salzburg.cs.ckgroup.communication.data.SwitchState
connector.mapping.switch-state.register = true

connector.mapping.shutdown.type = 21
connector.mapping.shutdown.className = at.uni_salzburg.cs.ckgroup.communication.data.ShutdownEvent
connector.mapping.shutdown.register = true

connector.mapping.simulation.type = 98
connector.mapping.simulation.className = at.uni_salzburg.cs.ckgroup.communication.data.SimulationData
connector.mapping.simulation.register = true

