<div id="footer">
	<p>Copyright (c) 2011 <a href="http://cs.uni-salzburg.at/~ck/group/">Computational Systems Group, Department of Computer Sciences, University of Salzburg.</a> 
	All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>