	<div id="header" class="container">
		<div id="logo">
			<h1><a href="index.tpl">Pilot</a></h1>
			<p><a href="http://cs.uni-salzburg.at/~ck/group/">JNavigator Project</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="$contextPath/status.tpl">Status</a></li>
				<li><a href="$contextPath/sensor.tpl">Sensors</a></li>
				<li><a href="$contextPath/config.tpl">Configuration</a></li>
				<li><a href="$contextPath/course.tpl">Course</a></li>
				<li><a href="snoop">Snoop</a></li>
			</ul>
		</div>
	</div>
	<!-- end #header -->