		<div id="sidebar">
			<ul>
<!--
				<li>
					<div id="search" >
						<form method="get" action="#">
							<div>
								<input type="text" name="s" id="search-text" value="" />
								<input type="submit" id="search-submit" value="GO" />
							</div>
						</form>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</li>
				<li>
					<h2>Aliquam tempus</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
				</li>
-->
				<li>
					<h2>Tasks</h2>
					<ul>
						<li><a href="$contextPath/status.tpl">System Status</a></li>
						<li><a href="$contextPath/sensor.tpl">Sensor Overview</a></li>
						<li><a href="$contextPath/config.tpl">Configuration Upload</a></li>
						<li><a href="$contextPath/course.tpl">Course Upload</a></li>
						<li><a href="snoop">Snoop</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>