<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Sensor Overview</a></h2>
		<div style="clear: both;">&nbsp;</div>
		<div class="entry">
#set( $sb = $servletConfig.getServletContext().getAttribute("configuration").getSensorBuilder() )
			<table class="sensors">
				<thead>
					<tr>
						<th>Name</th>
						<th>Device URI</th>
						<th>Access Path</th>
						<th>Current Value</th>
					</tr>
				</thead>
				<tbody>
#foreach( $sensor in $sb.getSensors() )
#set( $mt = $sensor.getMimeType() )
#set( $v = "" )
#set( $v = $sensor.getValue().replaceAll("\n","</br>") )
					<tr>
						<td>$sensor.name</td>
						<td>$sensor.uri</td>
						<td><a href="$contextPath/sensor/$sensor.Path">$sensor.Path</a></td>
#if ( $mt == "image/png" )
						<td><a href="$contextPath/sensor/$sensor.Path"><img src="$contextPath/sensor/$sensor.Path" style="width:200px" /></a></td>
#else
						<td>$v</td>
#end
					</tr>
#end
				<tbody>
			</table>
		</div>
#if ( $sb.isConfigOk() == false )
		<h2 class="title"><a href="#">Sensor Configuration Errors</a></h2>
		<div style="clear: both;">&nbsp;</div>
		<div class="entry">
#foreach( $error in $sb.getConfigErrors() )
<span style="color: red">$error</span></br>
#end
		</div>
#end
	</div>
</div>
<!-- end #content -->
