<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Sensor Overview</a></h2>
		<div style="clear: both;">&nbsp;</div>
		<div class="entry">
#set( $sb = $servletConfig.getServletContext().getAttribute("configuration").getSensorBuilder() )
			<table class="sensors">
				<thead>
					<tr>
						<th>name</th>
						<th>device URI</th>
						<th>access path</th>
						<th>current value</th>
					</tr>
				</thead>
				<tbody>
#foreach( $sensor in $sb.getSensors() )
#set( $v = "" )
#set( $v = $sensor.getValue() )
					<tr>
						<td>$sensor.name</td>
						<td>$sensor.uri</td>
						<td><a href="$contextPath/sensor/$sensor.Path">$contextPath/sensor/$sensor.Path</a></td>
						<td>$v</td>
					</tr>
#end
				<tbody>
			</table>
		</div>
#if ( $sb.isConfigOk() == false )
		<h2 class="title"><a href="#">Sensor Configuration Errors</a></h2>
		<div style="clear: both;">&nbsp;</div>
		<div class="entry">
#foreach( $error in $sb.getConfigErrors() )
<span style="color: red">$error</span></br>
#end
		</div>
#end
	</div>
</div>
<!-- end #content -->
