<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Current Configuration</a></h2>
<pre style="font-size: 90%; line-height: 90%">
#foreach( $line in $servletConfig.getServletContext().getAttribute("vehicleBuilder").getConfiguration() )
$line
#end
</pre>
	</div>
</div>
<!-- end #content -->