##
## @(#) jcontrol.properties - 
##

javiator.adapter.className = at.uni_salzburg.cs.ckgroup.communication.TransceiverAdapter
#if( $configuration.getPlantListener().getScheme() == "udp" )
javiator.adapter.transceiver.className = at.uni_salzburg.cs.ckgroup.communication.DatagramTransceiver
javiator.adapter.transceiver.host = $configuration.getPlantListener().getHost()
javiator.adapter.transceiver.port = $configuration.getPlantListener().getPort()
#else
javiator.adapter.transceiver.className = at.uni_salzburg.cs.ckgroup.communication.BufferedTransceiver
javiator.adapter.transceiver.send.buffer.length = 10
javiator.adapter.transceiver.reconnection.timeout = 500
javiator.adapter.transceiver.maximum.reconnects = 5
javiator.adapter.transceiver.connection.type = stream
javiator.adapter.transceiver.connection.params.type = tcp
javiator.adapter.transceiver.connection.params.className = at.uni_salzburg.cs.ckgroup.io.TcpSocket
javiator.adapter.transceiver.connection.params.host = $configuration.getPlantListener().getHost()
javiator.adapter.transceiver.connection.params.port = $configuration.getPlantListener().getPort()
#end

javiator.adapter.mapping.list = javiator, motor-signals, simulation

javiator.adapter.mapping.javiator.type = 2
javiator.adapter.mapping.javiator.className = at.uni_salzburg.cs.ckgroup.communication.data.JaviatorData
javiator.adapter.mapping.javiator.register = false

javiator.adapter.mapping.motor-signals.type = 5
javiator.adapter.mapping.motor-signals.className = at.uni_salzburg.cs.ckgroup.communication.data.MotorSignals
javiator.adapter.mapping.motor-signals.register = true

javiator.adapter.mapping.simulation.type = 98
javiator.adapter.mapping.simulation.className = at.uni_salzburg.cs.ckgroup.communication.data.SimulationData
javiator.adapter.mapping.simulation.register = false

clock.className = at.uni_salzburg.cs.ckgroup.util.SystemClock

jcontrol.className = at.uni_salzburg.cs.ckgroup.control.JControl
jcontrol.cycle.time = 14
#jcontrol.algorithm.className = at.uni_salzburg.cs.ckgroup.control.SimpleControlAlgorithm
jcontrol.algorithm.className = at.uni_salzburg.cs.ckgroup.control.PositionControlAlgorithm
jcontrol.algorithm.debug = false

jcontrol.set.course.folder = setcourses
jcontrol.forced.gc.cycle = -1

jcontrol.algorithm.roll.controller.className = at.uni_salzburg.cs.ckgroup.control.PDDController2
jcontrol.algorithm.roll.controller.Kp = 5
jcontrol.algorithm.roll.controller.KpEpsilon = 1
jcontrol.algorithm.roll.controller.Kd = -3.5
jcontrol.algorithm.roll.controller.KdEpsilon = 1
#jcontrol.algorithm.roll.controller.Kd2 = 0.018
jcontrol.algorithm.roll.controller.Kdf = -0.1
#jcontrol.algorithm.roll.controller.report-counter = 100

jcontrol.algorithm.pitch.controller.className = at.uni_salzburg.cs.ckgroup.control.PDDController2
jcontrol.algorithm.pitch.controller.Kp = 5
jcontrol.algorithm.pitch.controller.KpEpsilon = 1
jcontrol.algorithm.pitch.controller.Kd = -3.5
jcontrol.algorithm.pitch.controller.KdEpsilon = 1
#jcontrol.algorithm.pitch.controller.Kd2 = 0.018
jcontrol.algorithm.pitch.controller.Kdf = -0.1
#jcontrol.algorithm.pitch.controller.report-counter = 50

jcontrol.algorithm.yaw.controller.className = at.uni_salzburg.cs.ckgroup.control.PDDController2
jcontrol.algorithm.yaw.controller.Kp = 400
jcontrol.algorithm.yaw.controller.KpEpsilon = 30
jcontrol.algorithm.yaw.controller.Kd = -100
jcontrol.algorithm.yaw.controller.KdEpsilon = 360
#jcontrol.algorithm.yaw.controller.Kd2 = -1
jcontrol.algorithm.yaw.controller.Kdf = -0.01

jcontrol.algorithm.altitude.controller.className = at.uni_salzburg.cs.ckgroup.control.PDDController2
jcontrol.algorithm.altitude.controller.Kp = 401
jcontrol.algorithm.altitude.controller.KpEpsilon = 0.3
#jcontrol.algorithm.altitude.controller.Kd = -322.2
jcontrol.algorithm.altitude.controller.Kd = -390
jcontrol.algorithm.altitude.controller.KdEpsilon = 3
jcontrol.algorithm.altitude.controller.Kd2 = 60
jcontrol.algorithm.altitude.controller.Kdf = -0.1
#jcontrol.algorithm.altitude.controller.report-counter = 100

jcontrol.algorithm.position.controller.className = at.uni_salzburg.cs.ckgroup.control.PDDController
jcontrol.algorithm.position.controller.Kp = 15
jcontrol.algorithm.position.controller.KpEpsilon = 5
jcontrol.algorithm.position.controller.Kd = -13.1
jcontrol.algorithm.position.controller.KdEpsilon = 5
#jcontrol.algorithm.position.controller.Kd2 = 3
jcontrol.algorithm.position.controller.Kdf = -0.01
#jcontrol.algorithm.position.controller.report-counter = 25

jcontrol.algorithm.motor.lift.off.rpm = 8000
jcontrol.algorithm.javiator.identification = 19


position.provider.className = at.uni_salzburg.cs.ckgroup.gps.GpsAdapter
position.provider.gps.receiver = gps.simulator
#position.provider.rtcm.message.provider = none
#if( $configuration.getLocationSystemListener().getScheme() == "tcp" )
position.provider.gps.simulator.type = tcp
position.provider.gps.simulator.className = at.uni_salzburg.cs.ckgroup.io.TcpSocket
position.provider.gps.simulator.host = $configuration.getLocationSystemListener().getHost()
position.provider.gps.simulator.port = $configuration.getLocationSystemListener().getPort()
#else
#end

#if( $configuration.getPilotControllerConnector().getScheme() == "udp" )
tcp.server.className = at.uni_salzburg.cs.ckgroup.communication.UdpServer
tcp.server.server.port = $configuration.getPilotControllerConnector().getPort()
tcp.server.server.timeout = 10000
#else
#end


tcp.server.mapping.list = sensor-data, motor-signals, motor-offsets, ground-report, trace-data, \
								command-data, r-p-control, yaw-control, alt-control, x-y-control, \
								idle-limit, switch-state, switch-mode, shutdown, simulation, keep-alive

tcp.server.mapping.sensor-data.type = 4
tcp.server.mapping.sensor-data.className = at.uni_salzburg.cs.ckgroup.communication.data.SensorData
tcp.server.mapping.sensor-data.register = true

tcp.server.mapping.motor-signals.type = 5
tcp.server.mapping.motor-signals.className = at.uni_salzburg.cs.ckgroup.communication.data.MotorSignals
tcp.server.mapping.motor-signals.register = false

tcp.server.mapping.motor-offsets.type = 6
tcp.server.mapping.motor-offsets.className = at.uni_salzburg.cs.ckgroup.communication.data.MotorSignals
tcp.server.mapping.motor-offsets.register = false

tcp.server.mapping.ground-report.type = 8
tcp.server.mapping.ground-report.className = at.uni_salzburg.cs.ckgroup.communication.data.GroundReport
tcp.server.mapping.ground-report.register = true

tcp.server.mapping.trace-data.type = 9
tcp.server.mapping.trace-data.className = at.uni_salzburg.cs.ckgroup.communication.data.TraceData
tcp.server.mapping.trace-data.register = false

tcp.server.mapping.command-data.type = 10
tcp.server.mapping.command-data.className = at.uni_salzburg.cs.ckgroup.communication.data.CommandData
tcp.server.mapping.command-data.register = true

tcp.server.mapping.r-p-control.type = 11
tcp.server.mapping.r-p-control.className = at.uni_salzburg.cs.ckgroup.communication.data.AttitudeControllerParameters
tcp.server.mapping.r-p-control.register = true

tcp.server.mapping.yaw-control.type = 12
tcp.server.mapping.yaw-control.className = at.uni_salzburg.cs.ckgroup.communication.data.YawControllerParameters
tcp.server.mapping.yaw-control.register = true

tcp.server.mapping.alt-control.type = 13
tcp.server.mapping.alt-control.className = at.uni_salzburg.cs.ckgroup.communication.data.AltitudeControllerParameters
tcp.server.mapping.alt-control.register = true

tcp.server.mapping.x-y-control.type = 14
tcp.server.mapping.x-y-control.className = at.uni_salzburg.cs.ckgroup.communication.data.PositionControllerParameters
tcp.server.mapping.x-y-control.register = true

tcp.server.mapping.idle-limit.type = 15
tcp.server.mapping.idle-limit.className = at.uni_salzburg.cs.ckgroup.communication.data.IdleLimit
tcp.server.mapping.idle-limit.register = true

tcp.server.mapping.switch-state.type = 17
tcp.server.mapping.switch-state.className = at.uni_salzburg.cs.ckgroup.communication.data.SwitchState
tcp.server.mapping.switch-state.register = true

tcp.server.mapping.switch-mode.type = 18
tcp.server.mapping.switch-mode.className = at.uni_salzburg.cs.ckgroup.communication.data.SwitchMode
tcp.server.mapping.switch-mode.register = true

tcp.server.mapping.shutdown.type = 21
tcp.server.mapping.shutdown.className = at.uni_salzburg.cs.ckgroup.communication.data.ShutdownEvent
tcp.server.mapping.shutdown.register = true

tcp.server.mapping.simulation.type = 98
tcp.server.mapping.simulation.className = at.uni_salzburg.cs.ckgroup.communication.data.SimulationData
tcp.server.mapping.simulation.register = true

tcp.server.mapping.keep-alive.type = 99
tcp.server.mapping.keep-alive.className = at.uni_salzburg.cs.ckgroup.communication.data.KeepAlive
tcp.server.mapping.keep-alive.register = false
